<div class="view">
    <h2>Wachtwoord Wijzigen</h2>
</div>

            <form name="formPassword">
                    <div class="alert alert-success" ng-show="infoMessage">
                        {{ infoMessage }}
                    </div>
                    <p>
                        Als je je wachtwoord wilt wijzigen, vul dan hieronder je nieuwe wachtwoord in.
                        Een goed wachtwoord heeft naast letters en hoofdletters ook speciale tekens of cijfers.<br />
                        Een wachtwoord moet minimaal 4 tekens hebben.
                    </p>
                    <label for="id-password">Wachtwoord </label>
                    <div class="input-group">
                        <input class="form-control"
                               id="id-password"
                               type="password"
                               name="password"
                               ng-maxlength="20"
                               ng-model="dialog.password"
                               required>
                        <span class="input-group-addon">
                            &nbsp;
                        </span>
                    </div>
                    <label for="id-password-repeat">Herhaal het wachtwoord</label>
                    <div class="input-group">
                        <input class="form-control"
                               id="id-password-repeat"
                               ng-class="{ 'warning' : 1 }"
                               type="password"
                               name="passwordRepeat"
                               ng-maxlength="20"
                               ng-model="dialog.passwordRepeat"
                               required>
                        <span class="input-group-addon">
                            <!--
                                            <span class="glyphicon glyphicon-ok alert-success" ng-show="formPassword.$valid"></span>
                                            <span class="glyphicon glyphicon-remove alert-danger" ng-hide="formPassword.$valid"></span>
                            -->
                        </span>
                    </div>
    
            </form>
