<!--
	version 2.0
	Uses wizard system for login, so only profile and logout are available

-->
<div  ng-controller="ProfileController">
  <form name="profileForm" role="form" class="profile">
    <div id="id-message" class="container-fluid">
      <header id="id-header" class="bar bar-nav row">
        <div class="col-xs-4 col-sm-3">
          <span class="btn" ng-show="formState=='edit' || formState=='save'" ng-click="cancel()">Annuleer</span>
            <span class="btn" ng-click="cancel()" ng-show="formState=='changePassword'">Annuleer</span>
        </div>
        <div class="col-sm-9">
          <!--<button class="btn pull-right"  ng-click="edit()" ng-show="formState == 'view'">
            <span class="hidden-xs">wijzig </span><span class="glyphicon glyphicon-pencil"></span>
          </button>-->
            <button class="btn pull-right" ng-click="changePassword()"  ng-show="formState=='changePassword'">
                Opslaan
            </button>
          <button class="btn pull-right" ng-click="save()" ng-show="formState=='edit' || formState =='save'">
          Opslaan
            </button>
          <button class="btn pull-right" ng-click="logout('show')" ng-show="formState=='view'">
           Afmelden 
          </button>
        </div>
      </header>

      <nav id="id-nav"
           class="bar bar-tab"
           style="top: {{ navTop() }}"
           ng-include="'views/layouts/header.html'">
      </nav>

      <div class="content" ng-show="model.isTempAccount == 0">
        <div class="col-xs-12 col-sm-4 view-list profile-list" data-ng-disabled="inEdit" ng-class="{'div-disabled' :inEdit}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">&nbsp; &nbsp; &nbsp;&nbsp;Instellingen</h3>
            </div>
            <div class="panel-body">
              <p>Algemene instelling van het agendaprofiel.</p>
            </div>
          </div>
          <div class="list" ng-class="{selected : formState=='view' || formState=='edit'}">
            <div class="view-list-caption" ng-click="formState='view'">Mijn agenda profiel</div>
          </div>
          <div class="list" ng-class="{selected : formState=='changePassword'}">
            <div class="view-list-caption" ng-click="formState='changePassword'">Wachtwoord wijzigen</div>
          </div>
          <div class="list"  ng-class="{selected : formState=='debug'}">
            <div class="view-list-caption" ng-click="formState='debug'" ng-show="isDebug"> debug informatie</div>
          </div>
          <div class="list-end view-list-caption"></div>
        </div>

        <div class="hidden-sm col-md-1">
          <div class="view-icon"></div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div ng-show="errorMessage">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Er is een fout opgetreden</h3>
              </div>
              <div class="panel-body">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <div ng-show="formState=='view'">
            <div ng-include="'views/profile/view.html'"></div>
          </div>
          <div ng-show="formState=='edit' || formState=='save'">
            <div ng-include="'views/profile/edit.html'"></div>
          </div>
          <div ng-show="formState=='changePassword'">
            <div ng-include="'views/profile/changePassword.html'"></div>
          </div>

          <div ng-show="formState=='debug'">
            <div ng-include="'views/profile/debug.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div class="modal fade" id="logOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form name="formPassword" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Afmelden</h4>
          </div>
          <div class="modal-body">

              <h3>Wilt u zeker afmelden?</h3>

          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">annuleer</button>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="logout('logout')">
                Afmelden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <div id="container-floating">
        <div id="floating-button"
             class="edit-button"
             ng-click="edit()"
             ng-show="formState == 'view'">
            <span class="edit glyphicon glyphicon-pencil"></span>
        </div>
    </div>
</div>