
<h2>Er zijn geen berichten</h2>
<div>
  <p>Wat fijn dat je de MiessAgenda hebt gedownload.  We hopen dat jij en de anderen die je gaat uitnodigen er veel gemak van ervaren. En dat jullie prettiger of beter kunnen samen zorg en aandacht kunnen geven aan je dierbare voor wie de agenda wordt aangemaakt.</p>
  <p>Handig om te weten is dat het + teken rechtsboven steeds helpt om iets toe te voegen, te wijzigen of verwijderen in de agenda of bij de berichten.</p>
  <p>Belangrijk is het om de agenda met anderen te delen. Pas dan kan je eenvoudig samen de agenda bekijken en berichten en uitnodigingen naar elkaar versturen. Het uitnodigen van anderen kan via Uitnodigen.</p>
  <p>Heb je vragen? Bij informatie vind je meer uitleg. Als het antwoord daar niet bij staat of je hebt een tip of idee, laat het ons weten</p>
  <p>We horen je vragen of feedback graag!</p>
  <p>&nbsp;</p>
  <p>Hartelijke groet,</p>
  <p>Het MiessAgenda Team</p>
 </div>