<div class="row " ng-show="errorMessage">
  <div class="col-sm-10 col-sm-push-1 alert alert-warning">
    {{ errorMessage }}
  </div>
</div>
<div class="row" ng-show="infoMessage">
  <div class="col-sm-10 col-sm-push-1 alert alert-success">
    {{ infoMessage }}
  </div>
</div>

<div class="view">

  <h2>Afmelden</h2>
    <p>
      Door op afmelden te klikken, log je uit. Met je emailadres en wachtwoord kan je opnieuw inloggen.
    </p>
    <p class="text-center">
      <button class="btn btn-primary btn-lg" ng-click="logout()">Afmelden</button>
    </p>

</div>



