<div class="container" ng-controller="ActiveShareController">
	<div class="row clearfix "> 
		<div ng-include="'views/layouts/header.html'"></div>	
	</div>	
	<div class="row clearfix">
		<div class="col-sm-4 col-sm-offset-4" ng-hide="formState=='none' || formState=='clear'">
			<h2>Agenda's</h2>
			<div>Kies uit de lijst de agenda die je wil gebruiken</div>
			<div class="share-short" ng-class="{selected : $index === activeIndex}" 
					 ng-repeat="share in list track by $index" 
					 ng-click="activate($index)"
					 ng-hide="share.isDenied==1"
					 >
				<div class="well" >
					<h4 id="id-share-{{ share.id}}" class="share-name" >{{ share.title }}</h4>
					<p ng-show="share.isAccepted==0 ">Je hebt een uitnodiging voor deze agenda!</p>
					<button class="btn btn-primary"
									ng-click="open($index)"
									ng-show="share.isAccepted==1 ">
						Maak actief
					</button>
					<button class="btn btn-primary"
									ng-click="accept($index)"
									ng-show="share.isAccepted==0 ">
						Accepteren en open
					</button>
					<button class="btn btn-warning"
									ng-click="deny($index)"
									ng-show="share.isAccepted==0 ">
						Niet accepteren
					</button>
				</div>	
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3" ng-show="formState=='clear'">
			<div ng-include="'views/activeShare/info.html'"></div>				
		</div>	
	</div>
</div>	
	