<!--<div row>
  <div class="col-xs-10 col-xs-offset-1">
    <h1>Welkom bij de MiessAgenda vvv</h1>
  </div>
</div>
<div row>
  <div class="col-xs-10 col-xs-offset-1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at interdum odio. Etiam sed tellus et nunc fringilla vestibulum. Sed ac lacus justo. Donec ut tortor accumsan, dictum nibh pharetra, dapibus tellus. Vivamus eros ipsum, posuere non rutrum vel, suscipit ac tortor. Maecenas dignissim quam ac enim tempor hendrerit. Integer imperdiet diam sodales lacinia dictum. Maecenas quis tellus ornare, dictum nibh nec, ornare dolor. Nunc tellus nunc, vulputate at urna in, scelerisque sollicitudin enim. Sed consequat dui quis turpis placerat rhoncus.
    
    Donec turpis purus, bibendum sed lectus sit amet, egestas luctus neque. Quisque tincidunt magna justo, a rutrum augue dapibus ac. Suspendisse interdum eros ultricies, tincidunt sem quis, hendrerit mi. Sed rhoncus at augue vitae eleifend. Mauris consectetur justo quam, id eleifend nibh faucibus quis. Suspendisse tristique justo sit amet arcu faucibus varius. Suspendisse ut auctor augue, non rutrum orci. Cras pretium condimentum lorem, ut convallis sapien accumsan egestas. Phasellus vitae libero commodo, posuere libero in, ultrices dui. </div>
</div>
<div row>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="">Kies A
      <button class="btn btn-primary" ng-click="state=show('wizard-a')">Volgende</button>
    </div>
    <div class="">Kies B
      <button class="btn btn-primary" ng-click="state=show('wizard-b-1')">Volgende</button>
    </div>
  </div>
</div>-->

<!--------------->


  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-sm-5 col-sm-push-1">
        <h2>MiessAgenda</h2>
        <p>Wat voor een gebruiker van de MiessAgenda ben je?</p>
        <p class="userTypeA" ng-click="state=show('wizard-a')" ><img src="images/button-a-view.png" alt="Account om mee te kijken" title="Account om mee te kijken" class="button-view" /><strong>Ik wil een account aanmaken om mee te kijken in de agenda van iemand anders.</strong></p>
        <p>of</p>
        <p class="userTypeB" ng-click="state=show('wizard-b-1')"><img src="images/button-b-create.png" alt="Agenda aanmaken" title="Agenda aanmaken" class="button-create" />
        <strong>Ik wil een agenda aanmaken voor mij zelf of iemand anders</strong></p>
      </div>
      <div class="col-sm-5 col-sm-push-1">
        <div class="drawline always">
        <h2>&nbsp;</h2>
        <h4>Wat voor een gebruiker je bent, bepaalt wat voor ingang je kiest.</h4>
        <p><br/><span class="colorTypeA">Kies Groen : <strong>Je bent uitgenodigd.</strong></span><br />
Iemand, bijvoorbeeld je broer of zus, heeft de agenda voor je vader of moeder aangemaakt en jou hiervoor uitgenodigd. De MiessAgenda vindt jouw uitnodiging en koppelt je direct aan de juiste agenda.<br/></p>

<p><span class="colorTypeB">Kies Blauw : <strong>Je maakt een agenda aan.</strong></span><br />
Voor jezelf. Of voor iemand anders, bijvoorbeeld je vader of moeder. 
Gebruik bij het aanmaken van de agenda voor iemand anders ook zijn of haar emailadres. Vanuit deze agenda nodig je jezelf en andere familieleden of buren en vrienden uit.
        </p>


        </div>
      </div>
    </div>
  </div>
