<h3>Uitnodigen</h3>
<div >
  <p>Het is belangrijk om de agenda met anderen te delen. Pas dan kan je eenvoudig samen de agenda bekijken en berichten en uitnodigingen naar elkaar versturen.>Om nieuwe gebruikers aan de agenda toe te voegen, klik je rechtsboven op de button ‘nieuw +’.</p>
  <p>Voer de gegevens in. Kijk goed naar wat deze nieuwe gebruiker mag doen in de agenda. Is dat alleen activiteiten in de agenda zetten of ook de agenda beheren en andere mensen uitnodigen voor deze agenda.</p>
  <p>Via de button ‘wijzig’ kan je gegevens en rechten wijzigen. Zo kan je ook een gebruiker verwijderen door hem of haar geen toegang meer geven tot de agenda.</p>
  <p>In de linker kolom staat het overzicht van alle mensen die deze agenda gebruiken. Door een naam te kiezen zie je het profiel dat bij deze gebruiker hoort.</p>
</div>
