<div class="col-sm-12 col-xs-12 ">
	<div class="panel panel-default border-{{ model.typeId }} ">
		<div class="panel-heading heading-{{ model.typeId }} "
				 bs-popover="changeTypePopup"
				 data-placement="bottom" 
				 data-trigger="click"
				 data-title="{{ changeTypePopup.title }}"
				 data-content="&nbsp;{{ changeTypePopup.body }}"
				 data-template="views/activity/changeType.html"
				 >
			{{ model.typeText }}
		</div>

		<div class="panel-body panel-fix " ><!-- spacing -->
      <div class="row" ng-show="errorMessage">
        <div class="form-group">
          <div class="alert alert-warning">
            {{ errorMessage }}
          </div>
         </div>
      </div>

      <div class="row ">
				<div class="form-group" ng-class="{ 'has-error' : model.errors.title && !model.title.$pristine }">
					<label class="control-label" for="title">Activiteit</label>
					<div class="">
						<input id="title"
                   ng-model="model.title"
                   placeholder="De activiteit in het kort"
                   ng-readonly="model.masterActivity.id"
                   class="form-control">
						<p ng-show="model.errors.title" class="help-block">De activiteit moet ingevuld zijn</p> 
					</div>
				</div>
			</div>
			<div class="row clearfix">	
				<div class="form-group">
					<label class="control-label" for="description">Omschrijving</label>
          <textarea id="description"
                    name="description"
                    data-ng-model="model.description"
                    ng-readonly="model.masterActivity.id"
                    placeholder="Beschrijf wat er gebeuren gaat. Deze tekst is te lezen voor de genodigden"
                    class="form-control animate msd-elastic" >
          </textarea>
				</div>
			</div>	

			<div class="row clearfix">	
				<div class="form-group" >
					<div class="row clearfix">

                            <div ng-hide="model.isAllDay">
                                <div class="col-xs-9">
                                    <label class="control-label" for="start-date-full">Datum / Tijd</label>
                                    <div class='input-group time'>
                                        <input type="datetime-local"
                                               data-use-native="1"
                                               data-autoclose="1"
                                               data-date-format="MM/dd/yyyy HH:ii:ss"
                                               class="form-control"
                                               style="width:100%"
                                               step="300"                                      
                                               ng-readonly="model.masterActivity.id"
                                               ng-model="model.startOn" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <label class="control-label" for="tillDate">Tot en met</label>
                                    <div class='input-group time'>
                                        <input type="datetime-local"
                                               data-use-native="1"
                                               data-autoclose="1"
                                               data-date-format="MM/dd/yyyy HH:ii:ss"
                                               class="form-control"
                                               style="width:100%"
                                               step="300"
                                               ng-readonly="model.masterActivity.id"
                                               ng-model="model.endOn" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="model.isAllDay==1">
                                <div class="col-xs-9">
                                    <label class="control-label" for="start-date-full">Begin datum</label>
                                    <div class='input-group date'>
                                        <input type="text"
                                               data-use-native="1"
                                               data-autoclose="1"
                                               data-date-format="dd MMM yyyy"
                                               class="form-control"
                                               style="width:100%"
                                               step="300"
                                               bs-datepicker
                                               ng-readonly="model.masterActivity.id"
                                               ng-model="model.startOn" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <label class="control-label" for="tillDate">Eind datum</label>
                                    <div class='input-group date'>
                                        <input type="text"
                                               data-use-native="1"
                                               data-autoclose="1"
                                               data-date-format="dd MMM yyyy"
                                               class="form-control"
                                               style="width:100%"
                                               step="300"
                                               bs-datepicker
                                               ng-readonly="model.masterActivity.id"
                                               ng-model="model.endOn" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>
                                </div>
                        </div>

                        <div class="col-xs-12">
                            <label class="control-label" for="wholeDay">Hele dag</label>
                            <label class="checkbox-inline">
                                <input id="wholeDay"
                                       type="checkbox"
                                       ng-readonly="model.masterActivity.id"
                                       ng-model="model.isAllDay"
                                       ng-checked="model.isAllDay==1">
                            </label>
                        </div>

                        <!--<div class="col-xs-12">
                            <label class="control-label">Weekelijks Herhalen</label>
                            <input type="checkbox"
                                   ng-readonly="model.masterActivity.id"
                                   ng-model="model.businessHours"
                                   ng-checked="model.businessHours==1" />
                            </div>-->
                        </div>
				</div>	
			</div>
			<div class="row clearfix">	
				<div class="form-group">
					<label class="control-label" for="location">Locatie</label>
					<textarea id="location"
                    class="form-control animate msd-elastic"
                    ng-readonly="model.masterActivity.id"
                    data-ng-model="model.location"></textarea>

				</div>
			</div>

			<div class="row clearfix">	
				<div class="form-group">
					<label class="control-label" for="extra-info">Bijzonderheden</label>
					<textarea id="extra-info"
                    class="form-control animate msd-elastic"
                    ng-readonly="model.masterActivity.id"
                    data-ng-model="model.extraInfo"></textarea>
				</div>
			</div>	
		</div>
