<!--
  Agenda definition
-->
<div id="id-agenda" ng-controller="AgendaController">
    <div id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <div class="col-md-12 agenda-title" ng-controller="ShareController" ng-show="agenda.isActive==1">
            <h3>{{ agenda.title }}</h3>
        </div> 
        <div class="list-group">
            <a class="list-group-item"
                 ng-class="{active: menu.activeAgenda=='agendaDay'}"
                 ng-click="menuClick('agendaDay')">
                <span class="glyphicon glyphicon-th-list">&nbsp;Dag</span>
            </a>
            <a class="list-group-item"
                 ng-class="{active: menu.activeAgenda=='agendaWeek'}"
                 ng-click="menuClick('agendaWeek')">
                <span class="glyphicon glyphicon-th-large">&nbsp;Week</span>
            </a>
            <a class="list-group-item"
                 ng-class="{active: menu.activeAgenda=='month'}"
                 ng-click="menuClick('month')">
                <span class="glyphicon glyphicon-th">&nbsp;Maand</span>
            </a>
            <br />
        </div>
        <div class="col-md-12" ng-controller="ProfileController">
              <!--possibly a seperate view for the part below-->

            <div class="list-group">
                <h3>Mijn agenda</h3>
                <div class="list-group-item disabled" ng-repeat="agenda in model.agendas | filter: {isOwner:1}">                                               
                            <p>{{ agenda.title }}</p>
                            <button class="btn btn-success"
                                    ng-hide="agenda.isActive==1"
                                    ng-click="activateAgenda(agenda.shareId)">
                                Activeer
                            </button>
                            <button class="btn btn-primary disabled" ng-show="agenda.isActive==1">Actief</button>                                 
                </div><br />


                <h3>Agenda's gedeeld met mij</h3>
                <div class="list-group-item" ng-repeat="agenda in model.agendas | filter: {isOwner:0}">
                            <p>{{ agenda.title }}</p>            
                            <div ng-show="agenda.isAccepted">
                                <!--<p>Je gebruikersnaam binnen deze agenda is <b>{{ //agenda.name}}</b></p>-->
                                <button class="btn btn-success" ng-hide="agenda.isActive==1" ng-click="activateAgenda(agenda.shareId)">Activeer</button>
                                <!--<button class="btn btn-danger pull-right" ng-hide="agenda.isActive==1" ng-click="removeAgenda(agenda.shareId)">Verwijder</button>-->
                            </div>
                            <div ng-show="agenda.isDenied || agenda.isBlocked">
                                Deze agenda is niet actief. Neem contact op met <b>{{ agenda.ownerName }}</b> om hier gebruik van te kunnen maken.
                            </div>
                            <div ng-show="agenda.isAccepted==0 && agenda.isDenied==0 && canAccept">
                                <p>
                                    Deze agenda is nieuw en wordt door <b>{{ agenda.ownerName }}</b> met je gedeeld. <br />
                                    Je naam in de agenda is <b>{{ agenda.name }}</b>.
                                </p>
                                <p>
                                    Wil je de uitnodiging accepteren?<br />
                                    <button class="btn btn-success btn-sm" ng-click="acceptShare(agenda.shareId)">Accepteer de uitnodiging</button>
                                    <button class="btn btn-danger btn-sm" ng-click="denyShare(agenda.shareId)">Uitnodiging afwijzen</button>
                                </p>
                            </div>
                            <button class="btn btn-primary disabled btn-sm" ng-show="agenda.isActive==1">Actief</button>                  
                </div>

            </div>




        </div>         
    </div>
	<header id="id-header"  class="bar bar-nav row">
        <div class="col-xs-4">
            <button class="btn" ng-click="previous()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <div class="header-text hidden-xs">{{ menu.date }}&nbsp;</div>
            <button class="btn" ng-click="next()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        <div class="col-xs-8">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
</header>
        <nav id="id-nav"
             style="top: {{ navTop() }}"
             class="bar bar-tab"
             ng-hide="keyboardShown"
             ng-include="'views/layouts/header.html'">
        </nav>

        <div class="content" ng-swipe-right="previous()" ng-swipe-left="next()">
                <div ng-include="'views/agenda/fullCalendar.html'"></div>
                <div id="container-floating">
               
                        <div ng-show="formState=='create'" ng-include="'views/agenda/new.html'">               
                    </div>
                            <div id="floating-button"
                                 class="add-button"
                                    ng-click="add()"
                                    ng-show="agenda.isWritable==1">
                                <span class="plus glyphicon glyphicon-plus"></span>
                            </div>
                </div>
            </div>
        </div>


  <!-- Modal -->
  <div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Welkom bij de Miessagenda</h4>
        </div>
        <div class="modal-body" ng-show="user.isTempAccount==1">
          <p>Welkom bij de MiessAgenda. Een handige APP om samen een agenda te beheren. Belangrijk icoon in
          deze APP is de + rechtsboven. Hiermee kan je activiteiten invoeren in de agenda en nieuwe berichten
          maken.</p>

          <p>Om de agenda met anderen te delen en binnen de groep berichten te versturen en meer, moet je
          aangemeld zijn. Meld je aan via Instellingen, rechtsonder.</p>
          <p>Let op! Gebruik de naam en het emailadres van wie de agenda is. Wil je bijvoorbeeld samen de
          agenda van je moeder beheren, maak dan de agenda aan met het eimailadres van je moeder. Vanuit
          haar agenda kan je jezelf en anderen uitnodigen.</p>
        </div>
        <div class="modal-body" ng-hide="user.isTempAccount==1">
          <p>Welkom bij de MiessAgenda. Een handige APP om samen een agenda te beheren. Belangrijk icoon in
            deze APP is de + rechtsboven. Hiermee kan je activiteiten invoeren in de agenda en nieuwe berichten
            maken.
          </p>
        </div>
        <div class="modal-footer">
          <a href="#" class="pull-left" ng-click="hideIntro()" data-dismiss="modal"><input type="checkbox"> niet meer laten zien</a>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Sluiten</button>

        </div>
      </div>
    </div>
  </div>
